<h2 class="landing landing__title">Dependencies</h2>
<div class="landing__hero">
    <ul class="list">
        {{#dependencies}}
        <li>
            {{name}} <span class="version">{{version}}</span>
        </li>
        {{/dependencies}}
    </ul>
</div>