<div class="landing-container">
    <h2 class="landing landing__title">
        Nodejs Mentorship Initiative Challenge
    </h2>
    <div class="landing__hero">
        <div class="container-row">
            <a class="container-row container-row__item" href="/dependencies" aria-label="Dependencies">
                <h4>dependencies</h4>
                <img src="/dependency.svg" />
            </a>
            <a class="container container-row__item" href="/minimumSecure" aria-label="Link to Audit Reports">
                <h4>minimum-secure</h4>
                <img src="/secured.svg" />
            </a>
            <a class="container container-row__item" href="/latestRelease" aria-label="Link to Documentation">
                <h4>latest-releases</h4>
                <img src="/latest.svg" />
            </a></div>
    </div>
    <a href="https://github.com/nodejs/mentorship" class="api-link">More details: Nodejs Mentorship Initiative</a>

</div>